<div flex="100" layout="row" layout-align="center">

    <div layout-padding-gt-xs layout="column" flex="70" layout-align="center" style="margin-top: 10px;">
        <div layout="row" class=" backgroundGray circle">
            <div layout="column" flex="20" layout-align="center">
                <div align="right">
                    <a href="www/img/me.jpg"><img class="resizeimg circle" src="www/img/me_small.jpg"></a>
                </div>
            </div>
            <div layout="column" flex="60" class="backgroundHex circle" style="text-align:center;">
                <h2>Henry Garcia</h2>
                <p>Undergraduate Student at <br><a href="http://www.ucr.edu/">University of California,
                    Riverside</a><br><a href="mailto:henry@programhenry.com">henry@programhenry.com</a></p>

                <div id="subscribeSite"></div>
                <ul class="soc" style="padding-top:5px;padding-bottom:5px;">
                    <li><a target="_blank" class="soc-github" href="https://github.com/hgarc014"></a></li>
                    <li><a target="_blank" class="soc-linkedin"
                           href="https://www.linkedin.com/pub/henry-garcia/96/2ab/1b3"></a></li>
                    <li><a target="_blank" class="soc-youtube soc-icon-last"
                           href="https://www.youtube.com/channel/UCCBLjKKxyRNtD1Qq3HBOgsQ"></a></li>
                </ul>
            </div>
            <div layout="column" flex="20" layout-align="center">
                <div align="left">
                    <a href="www/img/yinyang.png"><img src="www/img/yinyang_small.png"
                                                       class="resizeimg circle"></a>
                </div>
            </div>
        </div>

        <div class="collapse navbar-collapse" ng-controller="HeaderController">
            <ul class="nav navbar-nav">
                <!--<li ng-class="{ active: isActive('/')}"><a href="/">Home</a></li>-->
                <!--<li ng-class="{ active: isActive('/dogs')}"><a href="/dogs">Dogs</a></li>-->
                <!--<li ng-class="{ active: isActive('/cats')}"><a href="/cats">Cats</a></li>-->
                <li><a is-active-nav href="/#/main">Home</a></li>
                <li><a is-active-nav href="/#/stories">stories</a></li>
                <li><a is-active-nav href="/#/projects">projects</a></li>
                <li><a is-active-nav href="/#/courses">courses</a></li>
                <li><a id="nav" href="Documents/Resume_Henry_Garcia.pdf">Resume</a></li>
            </ul>
        </div>

        <md-content class="md-padding">
            <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
                <md-nav-item md-nav-click="goto('page1')" name="page1">Page One</md-nav-item>
                <md-nav-item md-nav-click="goto('page2')" name="page2">Page Two</md-nav-item>
                <md-nav-item md-nav-click="goto('page3')" name="page3">Page Three</md-nav-item>
                <!-- these require actual routing with ui-router or ng-route, so they won't work in the demo
                <md-nav-item md-nav-sref="app.page4" name="page4">Page Four</md-nav-item>
                <md-nav-item md-nav-href="#page5" name="page5">Page Five</md-nav-item>
                -->
            </md-nav-bar>
            <div class="ext-content">
                External content for `<span>{{currentNavItem}}</span>`
            </div>
        </md-content>

        <table id="navBar" class="nav bodyWidth marginA">
            <tbody>
            <tr>
                <th><a is-active-nav href="/#/main">Home</a></th>
                <th><a is-active-nav href="/#/stories">stories</a></th>
                <th><a is-active-nav href="/#/projects">projects</a></th>
                <th><a is-active-nav href="/#/courses">courses</a></th>
                <th><a id="nav" href="Documents/Resume_Henry_Garcia.pdf">Resume</a></th>
            </tr>
            </tbody>
        </table>

    </div>
</div>